<main class="grid-container grid-container-column">
    <h1>Shakespeare Quotes</h1>
    <section class="row grid-container grid-container-row">
        <div class="grid-item-col-4">
            <span>column 1</span>
            <p>Brevity is the soul of wit. <cite>Hamlet</cite></p>
        </div>
        <div class="grid-item-col-4">
            <span>column 2</span>
            <p>To be, or not to be: that is the question. <cite>Hamlet</cite></p>
        </div>
        <div class="grid-item-col-4">
            <span>column 3</span>
            <p>Though this be madness, yet there is method in 't.<cite>Hamlet</cite></p>
        </div>
        <div class="grid-item-col-4">
            <span>column 4</span>
            <p>All the world 's a stage, and all the men and women merely players. <cite>As You Like It</cite></p>
        </div>
    </section>
    <section class="column grid-container grid-container-column">
        <div class="grid-item-row">
            <span>row 1</span>
            <p>Hell is empty and all the devils are here. <cite>The Tempest</cite></p>
        </div>
        <div class="grid-item-row">
            <span>row 2</span>
            <p>But, for my own part, it was Greek to me. <cite>Julius Caesar</cite></p>
        </div>
        <div class="grid-item-row">
            <span>row 3</span>
            <p>Some are born great, some achieve greatness, and some have greatness thrust upon 'em. <cite>Twelfth Night</cite></p>
        </div>
        <div class="grid-item-row">
            <span>row 4</span>
            <p>If music be the food of love, play on! <cite>Twelfth Night</cite></p>
        </div>
    </section>

</main>