<main class="grid">
    <header><h1>Shakespeare Quotes</h1></header>
    <article>
            <p>All the world's a stage, and all the men and women merely players.</p>
            <cite>As You Like It</cite>

            <p>Some are born great, some achieve greatness, and some have greatness thrust upon 'em. </p>
            <cite>Twelfth Night</cite>

            <p>Hell is empty and all the devils are here. </p>
            <cite>The Tempest</cite>
            
            <p>Though this be madness, yet there is method in 't.</p>
            <cite>Hamlet</cite>

            <p>But, for my own part, it was Greek to me. </p>
            <cite>Julius Caesar</cite>
    </article>
    <aside>
        <p>Brevity is the soul of wit. </p>
        <cite>Hamlet</cite>
    </aside>
    <footer>
        <p>If music be the food of love, play on!</p>
        <cite>Twelfth Night</cite>
    </footer>
</main>