<table height="800" width="100%" cellpadding="16px" cellspacing="8px" bgcolor="#333333">
    <thead>
        <th align="center" valign="middle" height="16%" colspan="2" bgcolor="#999999">
            <h1>
                <font face="verdana, sans-serif">Shakespeare Quotes</font>
            </h1>
        </th>
    </thead>
    <tbody>
        <tr>
            <td valign="top" width="75%" height="68%" bgcolor="#eeeeee">
                <font face="verdana, sans-serif" size="4">
                    <p>
                        <b>All the world's a stage, and all the men and women merely players.</b>
                    </p>
                    <i>As You Like It</i>
                    <br><br>
                
                    <p>
                        <b>Some are born great, some achieve greatness, and some have greatness thrust upon 'em.</b>
                    </p>
                    <i>Twelfth Night</i>
                    <br><br>

                    <p>
                        <b>Hell is empty and all the devils are here.</b>
                        </p>
                    <i>The Tempest</i>
                    <br><br>
                
                    <p>
                        <b>Though this be madness, yet there is method in 't.</b>
                    </p>
                    <i>Hamlet</i>
                    <br><br>

                    <p>
                        <b>But, for my own part, it was Greek to me.</b>
                    </p>
                    <i>Julius Caesar</i>
                    <br><br>
                </font>
            </td>
            <td valign="top" bgcolor="#dddddd">
                <font face="verdana, sans-serif" size="4">
                    <p>
                        <b>Brevity is the soul of wit.</b> 
                    </p>
                    <cite>Hamlet</cite>
                </font>    
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td height="16%" colspan="2" bgcolor="#999999">
                <font face="verdana, sans-serif" size="4">
                    <p>
                        <b>If music be the food of love, play on!</b>
                    </p>
                    <i>Twelfth Night</i>
                </font>
            </td>
        </tr>
    </tfoot>
</table>