<main class="flex flex-container-column">
    <header class="flex-item-row"><h1>Shakespeare Quotes</h1></header>
    <article class="flex-container flex-container-row flex-item-row">
        <section class="flex-item-col-75">
            <p>All the world 's a stage, and all the men and women merely players.</p>
            <cite>As You Like It</cite>

            <p>Some are born great, some achieve greatness, and some have greatness thrust upon 'em. </p>
            <cite>Twelfth Night</cite>

            <p>Hell is empty and all the devils are here. </p>
            <cite>The Tempest</cite>
            
            <p>Though this be madness, yet there is method in 't.</p>
            <cite>Hamlet</cite>

            <p>But, for my own part, it was Greek to me. </p>
            <cite>Julius Caesar</cite>
        </section>
        <aside class="flex-item-col-25">
            <div>
                <p>Brevity is the soul of wit. </p>
                <cite>Hamlet</cite>
            </div>
        </aside>
    </article>
    
    <footer class="flex-item-row">
        <p>If music be the food of love, play on!</p>
        <cite>Twelfth Night</cite>
    </footer>
</main>