doctype html
html
  head
    meta(name='viewport',  content='width=device-width, initial-scale=1')
    title CSS3 Flexbox Layout
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content