doctype html
html
  head
    meta(name='viewport',  content='width=device-width, initial-scale=1')
    title CSS3 Flexbox Layout
    link(rel='stylesheet', href='/stylesheets/flexbox.css')
    style .flex-container {border: 1px solid blue} .flex-item-row, .flex-item-col-4 {border: 1px solid grey}
  body
     include flex.html