.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: .5em; */
    height: 100%;
    background: #333;
    /* grid-template-columns: 1fr 1fr 2fr; */
}
div {
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    text-indent: 1em;
    line-height: 3em;
    background: #eee;
}

