main.grid-container {
    display: grid;
    grid-template-columns: [edno] 1fr [dve] 1fr [tri] 1fr [chetiri] 1fr; 
    grid-template-rows: 5em 1fr 1fr;
}
main h1 {
    grid-column-span: 4; 
}

#grid {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-gap: .5em;
}

header, footer {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 10em;
    background-color: rgba(255, 255, 0, 0.103);
}

article, aside {
    min-height: 30em;
}

article {
    background: #eeeeee;
    /* min-width: 360px; */
}

aside {
    background-color: #dddddd;
}

@media(max-width: 440px) {
    header, footer, article, aside {
        grid-column-start: 1;
        grid-column-end: 3;

    }
}