.grid {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-gap: .5em;
    background: #333333;
    height: 100%;
    overflow: scroll;
}

header, footer {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(255, 255, 255, .5);
    padding: 1em;
}

.grid article {
    background: #eeeeee;
    padding: 1em;
}

aside {
    background-color: #dddddd;
    padding: 1em;
}

.grid p {
    font-size: 120%;
    font-weight: 700;
    margin: 1em 0 .5em;
}

article.flex {
    flex-wrap: wrap;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (max-width: 440px) {
    header, footer, article, aside {
        grid-column-start: 1;
        grid-column-end: 3;

    }
}