body, html {
        height:100%; 
        font-family: Verdana, sans-serif;
        font-size: 16px;
    }
    h1 { text-align: center; }
	
	main, section {
        background:#f1f1f1; 
        border:1px solid #333; 
    }
        
	section {
        background:#ccc; 
        width: auto; 
        height: auto; 
        min-height: 8em; 
        margin: 1em; 
    }


	section.column { 
        height: 48em; /* TO-DO: figure this out; this is a hack for Safari and IE10 */
    }
	section.column div  {
        height:20%; 
        background-color: #333;
    } 
    
	
    section.row div {
        height: auto; 
        /*min-width: 200px; 
        max-width:400px;*/ 
        background-color: #666;
    }
	
    section > div  {
        border: 1px solid #999; 
        margin: 1em; 
        position: relative; 
        min-width: 250px;
        background:#999;
    }
    
	div span {
        border: 1px solid #ddd; 
        left: 0; 
        padding: 0.1em; 
        position: absolute; 
        top: 0; 
        font:normal .8em arial, helvetica, sans-serif;
        color: #ddd;
    }
    div p {
            color: peachpuff;
            font-size: 1.8em;
            margin: 1em;
            position: relative;
        }
p > cite {text-align: right; display: inline-block; width: 100%; font-size: .5em; color: #eee; }
p > cite::before {content:'('}
p > cite::after {content:')'}

